* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bfd7e4;

  font-family: "Staatliches", cursive;
}

body::before {
  position: absolute;

  z-index: -1;

  content: "";

  height: 465px;
  width: 100%;

  top: 0;
  left: 0;

  background: #293241;
}

.page {
  text-align: center;

  padding-top: 107px;
}

h1 {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  color: #ffffff;
}

p {
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

label,
p {
  font-family: "Poppins", sans-serif;
}

img {
  margin-bottom: 32px;
}

form {
  width: 750px;
  margin: auto;
}

fieldset {
  border: 0;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 133px;

  background: #f67669;
  border-radius: 20px 20px 0px 0px;

  /* font-style: normal; */
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */

  color: #ffffff;
}

.container {
  background: #fff;

  padding: 30px 64px 64px 64px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 100px;

  border-radius: 0px 0px 20px 20px;
}

.container-personal-information,
.container-mentor {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.name-wrapper {
  display: flex;
  gap: 22px;

  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
}

label {
  display: flex;
  align-items: center;

  font-family: "Poppins";

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 8px;

  color: #4e4958;
}

label span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #c1bccc;

  margin-left: 9px;
}

label span:hover {
  color: #858090;
}

input,
textarea {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  min-height: 55px;

  padding: 15px;
}

textarea {
  height: 166px;
}

.title {
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 8px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #253b51;
}

.mentor-name-wrapper {
  width: 50%;
}

.checkbox-wrapper {
  position: relative;
}

.checkbox-wrapper label {
  display: flex;
  align-items: center;
  gap: 8px;

  margin: 0;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;

  width: 24px;
  height: 24px;

  opacity: 0;
}

.checkbox-wrapper label::before {
  content: "";

  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00016 16.1698L4.83016 11.9998L3.41016 13.4098L9.00016 18.9998L21.0002 6.99984L19.5902 5.58984L9.00016 16.1698Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
  outline: 2px solid #000;
}

.container-date-time {
  display: flex;
  gap: 32px;
}

.col-2 {
  display: flex;
  gap: 10px;
}

.button {
  width: 622px;
  height: 51px;

  background: #f67669;
  border-radius: 8px;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #ffffff;

  margin-top: 30px;
}

.button:hover {
  background: #fc6756;
}
