* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #e5e5e5;

  font-family: "Staatliches", cursive;
}

body::before {
  content: "";

  background: #535971;

  width: 100%;
  height: 436px;

  position: absolute;

  z-index: -1;
}

.page {
  width: 750px;

  margin: auto;

  margin-bottom: 100px;
}

header {
  width: 417px;
}

header h1 {
  padding-top: 140px;
  margin-bottom: 18px;

  font-size: 48px;
  line-height: 60px;
  font-weight: 400;

  color: #fff;
}

header p {
  font-size: 20px;
  line-height: 30px;

  color: #fff;

  margin-bottom: 58px;
}

label,
p {
  font-family: "Poppins", sans-serif;
}

form {
  background: #fff;

  border-radius: 20px 20px 0 0;
}

fieldset {
  border: 0;

  padding: 64px 64px 50px 64px;

  display: flex;
  flex-direction: column;

  gap: 30px;
}

legend {
  color: #535971;

  font-size: 24px;
  line-height: 34px;
  font-weight: 400;

  padding-bottom: 16px;

  border-bottom: 1px solid #e6e6f0;

  margin-bottom: 34px;
}

.name-wrapper,
.date-wrapper {
  display: flex;
  gap: 22px;
  justify-content: space-between;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 16px;
}

label {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 24px;

  color: #4e4958;
}

label span {
  font-size: 12px;
  line-height: 20px;

  color: #c1bccc;
}

label span:hover {
  color: #6c6a71;
}

input {
  background: #fafafc;

  border: 1px solid #e6e6f0;
  border-radius: 8px;

  height: 56px;

  padding: 0px 15px;
}

h2 {
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #535971;

  margin-bottom: 10px;
}

.date-wrapper {
  gap: 30px;
}

.time-wrapper {
  display: flex;
  gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 160px;

  background: #535971;
  border-radius: 0px 0px 20px 20px;
}

.button {
  background: #ff5374;
  border-radius: 20px;

  width: 608px;

  border: 0;

  color: #ffffff;

  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.button:hover {
  background: #c32c4a;
}
